*{
  margin:0;
  padding:0;
  font-family:sans-serif;
}

html{
  background:#cdcdcd;
}

body{
  width:920px;
  padding:20px;
  background:rgba(255,255,255,0.7);
  margin:20px auto;
  box-shadow:1px 1px 10px gray;
}

header{
  padding:20px;
  background-color:rgba(255,255,255,0.7);
}

article{
  background:#efefef;
  padding:19px;
  border: 1px solid #dedede;
  position:relative;
}

section{
  font-size:14px;
}
section:first-letter{
  font-size:46px;
  padding:0 5px 5px 0;
  border:1px solid gray;
  border-top:none;
  border-left:none;
  margin:0 5px 5px 0;
  float:left;
}

a{
  color:inherit;
  text-decoration:none;
  font-weight:bold;
}

a:hover{
  text-shadow:2px 2px 2px 2px gray;
}

nav{
  padding-bottom:20px;
}

nav ol li{
  display:inline-block;  
}

nav ol li a{
  padding:5px 7px;
  border: 1px solid gray;
  border-radius:2px;
}

nav ol li a:hover{
  background-color:rgba(150,150,150,0.5);
}

p.summary{
  margin-bottom:20px;
}